@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              
              <h4 class="mb-2">Forgot Password? 🔒</h4>
              <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
              <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Phone Number</label>
                  <input
                    type="number"
                    class="form-control"
                    id="email"
                    name="PhoneNumber"
                    placeholder="Enter your phone number"
                    autofocus
                  />
                </div>
                 <input type="submit" value="Retrive Password" class="btn btn-primary d-grid w-100" asp-controller="Account" asp-action="RetrivePassword" >
                
              </form>
              <div class="text-center">
                <a asp-controller="Account" asp-action="Login" class="d-flex align-items-center justify-content-center">
                  <i asp-controller="Account" asp-action="Login" class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  Back to login
                </a>
              </div>
            </div>
          </div>
          <!-- /Forgot Password -->
        </div>
      </div>
    </div>