@{
    ViewData["Title"] = "About Us";
}


<div class="bg_white">
    <div class="container margin_90_65">
        <div class="main_title">
            <h2>About Us</h2>



        </div>


        <p>
            <h2>About Crops Haat</h2>
        </p>
        <p>

            Crops Haat is as sole entrepreneurship online crops buy and sales platform
            which is unique and noble project in this current moment because we are the
            first in Bangladesh. This platform mainly will help to our growers by
            bypassing the middlemen so that they get the true value of their labor and
            hard work. We request to everyone please, keep us in your prayer to
            achieve our noble goal.
        </p>
        <p>
            This online buy and sale platform is available all over
            Bangladesh. We believe healthy crops build a healthy nation. Nation
            builders are mostly residing in urban area and their time is valuable, they
            should not have to waste hours in traffic, harsh weather and wait in line
            just to buy requirements like healthy corps! We deliver door-steps across
            every day healthy crops to our Nation builders who are residing in urban
            area to save their valuable time and mental peach.
        </p>
        <p>
            Crops Haat is in work in progress and we hope to get better over time.
            We are strong believers in using technology and education to improve a
            healthy nation and healthy Bangladesh and we will continue to devote all
            our determination to aggressive the limitations of technology.
        </p>
        <p>
            We would love to hear from you, if you have ideas on how we can improve.
            Please do email us at info@cropshaat.com.
        </p>
        <p>
            <h4>M.M Hafizur Rahaman (Founder &amp; CEO)</h4>
        </p>
        <p>
            M.M Hafizur Rahaman is the Founder & CEO of “Crops Haat”. He has vast experience of manufacturing industries working process, control system and data analysis. Besides his twenty-five years’ service life he has been carrying out others business enterprises along with “Crops Haat”. He is doing in a reputed Ice-cream industry as an Accountant's Manager before Auditor. Before Ice-cream industries, he worked in a Bulgarian blister packing manufacturing company as an Accounts Manager. During service life, he has been done Materials Plans, production plans, Demand & consumption Plans, Sales and financial budget and controlling systems, financial and management accounting reports by using modern technology and generating control ideas.
            Besides, he has the following expertise:
            <ul>
                <li>Project feasibility studies instructor</li>
                <li>Competencies in financial and accounting valuation</li>
                <li>Corporate Banking</li>
                <li>Credit Risk management and evaluation</li>
                <li>Competencies in Cost and management accounting valuation</li>
                <li>Presentation and Marketing skills</li>
                <li>Knowledge of fund management</li>
                <li>Comprehensive understanding of the industry and regulatory laws and regulations.</li>
            </ul>

            He graduates and postgraduate from the National University of Bangladesh and Professional course completed partly from the institute cost and management accounts of Bangladesh.

        </p>
        <p>
            <h4>Shoaib Bin Aziz (Co-Founder &amp; CTO)</h4>
        </p>
        <p>
            Shoaib Bin Aziz is experienced in robotics field and software development
            . Besides “Crops Haat” he is the founder and lead engineer of a
            software and robotics development firm named “Neorpchip” in Bangladesh. He is
            managing his organizational employees and oversaw all facts of the
            business including sourcing, production, commercial design and marketing.
            Mr. Aziz holds a BSc in computer science from North South University.
        </p>


        <div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
