
@{
    ViewData["Title"] = "Return & Refund Policy";
}


		<div class="bg_white">
			<div class="container margin_90_65">
				<div class="main_title">
					<h2>Return & Refund Policy</h2>
					


				</div>

				
				<p>
    <strong><u>1.0. Return Policy </u></strong>
</p>
<p>
    1.1. A user may return any product during the time of delivery, if:
</p>
<p>
    1.1.1 Finds product unusable
</p>
<p>
    1.1.2 Is not satisfied with the packaging
</p>
<p>
    1.1.3 Received in an unhealthy/ unexpected condition
</p>
<p>
    1.1.4 Have doubt about the product quality and quantity
</p>
<p>
    1.1.5 Found damaged during delivery
</p>
<p>
    1.1.6 Product does not meet user’s expectation.
</p>
<p>
    We are continuously monitoring accounts of customers with excessive
    requests of returns and refunds. We take necessary steps to prevent this.
</p>
<p>
    1.2. A user may return any unopened or defective up to 20% and less, but
    following products may not be eligible for return or replacement:
</p>
<p>
    1.2.1 Any product that is returned without all original packaging and
    accessories, including the box, farmer's packaging if any, and all other
    items originally included with the product/s delivered.
</p>
<p>
    1.2.2 Any damage/defect which are not covered under the farmer's warranty
</p>
<p>
    1.2.3 Products with tampered or missing serial/UPC numbers
</p>
<p>
    1.2.4 Any consumable item which has been used
</p>
<p>
    1.2.5 Incidental damage due to malfunctioning of product
</p>
<p>
    1.2.6 Damages due to misuse of product
</p>
<p>
    <strong><u>2.0. Refund Policy</u></strong>
</p>
<p>
    2.1 Crops Haat tries its best to serve the users. But if under any
    circumstances, we fail to fulfill our commitment or to provide the service,
    we will notify you within 24 hours via phone/ text/ email. If the service,
    that Crops Haat fails to complete, requires any refund, it be done maximum
    within 7 Days after our acknowledgement.
</p>
<p>
    2.2 Refund requests will be processed under mentioned situation:
</p>
<p>
    2.2.1 Unable to serve with any product.
</p>
<p>
    2.2.2 Customer returns any product from a paid order.
</p>
<p>
    2.2.3 Customer cancels a paid order before it has been dispatched.
</p>
<p>
    For all the above three scenarios, the refund amount will be sent to Crops
    Haat Balance of the customer. And the balance can only be used to purchase
    at Crops Haat. Upon customer's request, Crops Haat will transfer the refund
    amount to the user's original payment source within 7 days. Refund is only
    allowed for customers who have paid via bKash or card or other electronic
    method. For the orders that are paid via Cash, refund is only to be given
    through Crops Haat Credits.
</p>
		

				<div>
	
				</div>
				<!-- /row -->					
			</div>
			<!-- /container -->	
		</div>

